<?xml version="1.0" encoding="utf-8"?>
<application type="CmsConfig" applicationName="资讯"  configType="Spacebuilder.CMS.CmsConfig,Spacebuilder.CMS" enableSocialComment="false">
    <tenantAttachmentSettings>
        <add tenantTypeId="101501" storeProviderName="CommonStorageProvider" tenantAttachmentDirectory="CMS" inlinedImageWidth="600">
            <imageSizeType key="Small" width="100" height="65" resizeMethod="Crop"/>
            <imageSizeType key="Medium" width="220" height="150" resizeMethod="Crop"/>
            <imageSizeType key="Big" width="630" height="360" resizeMethod="KeepAspectRatio"/>
        </add>
    </tenantAttachmentSettings>
    <tenantCommentSettings>
        <add tenantTypeId="101501" enableSupportOppose="false" showLowCommentOnLoad="true" maxCommentLength="200" enablePrivate="false" allowAnonymousComment="true" entryBoxAutoHeight="true" commentClass="tn-comment-full" showCommentCount="true" enableRecommend="true" recommendItemTypeId="10150102" />
    </tenantCommentSettings>
</application>