@model List<long>
@using (Html.BeginAjaxForm("_SetContentFolder", "ChannelCms", FormMethod.Post, new AjaxFormOptions().SetOnSuccessCallBack("SuccessCallBack")))
{
    if (Model != null)
    {
        foreach (var itemId in Model)
        {
    <input type="hidden" value="@itemId" name="contentItemIds" />
        }
    }
    <div class="tnc-dailog-pd">
        <div class="tn-form">
            <div class="tn-form-row">
                <label class="tn-form-label">
                    栏目：</label>
                @Html.FolderDropDownList("toContentFolderId", 0, onlyModerated: true)
            </div>
        </div>
    </div>
    <div class="tnc-artdilog-btn tn-border-gray tn-border-top tn-bg-gray">
        @Html.Button("确定", ButtonTypes.Submit, HighlightStyles.Primary)
    </div>
}
<script type="text/dialog">
    this.title("设置栏目");
</script>
@Html.ScriptBlock(@<script type="text/javascript">
    //成功的回调函数
    function SuccessCallBack(data) {
        art.dialog.tips(data.MessageContent, 1.5, data.MessageType, function () {
            window.location.reload();
        });
    }
</script>)
