@model IEnumerable<PaperEntity>

<div class="tn-tabs">
<ul class="tn-tabs-nav tn-border-gray tn-border-bottom tn-helper-clearfix">
            <li class="tn-widget-content tn-border-gray tn-border-trl tn-tabs-selected"><a href="/g/proteinmodelling/bar/home.aspx">
                文章列表</a> </li>
            <li class="tn-option">
               <a class="tn-button-primary tn-button-text-icon-primary tn-button tn-corner-all" 
                        href="@SiteUrls.Instance().BatchAddPapers(Url.SpaceKey())" id="FastEdit">
               <span class="tn-icon tn-smallicon-write"></span>
               <span class="tn-button-text">添加文章</span></a>
            </li>
        </ul>
</div>

<div>
@if (Model.Count()>0)
{
    <ul class="tn-list tnc-dynamic">
    @foreach (var paper in Model)
    {
        <li class="tn-list-item tn-helper-clearfix tn-border-gray tn-border-bottom spb-microblog-item">
            <a href="http://dx.doi.org/@paper.Doi">@paper.Title</a>
        </li>
        <div style="background-color:transparent">
        @paper.Abstract
        </div>
    }
    </ul>
}
else
{
    <span>尚未添加文献！</span>
}

</div>